

<%= flash[:notice] %>
<br>
<br>
<br>
<table>
	<tr>
<td><img src="http://localhost:3000/fotos/bienvenido_a.jpg" class="foto4"></td> <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/foxfunk" target="_blank"><img src="http://localhost:3000/fotos/githubi.png" class='foto'></a><img src="http://localhost:3000/fotos/windows.jpg" class='foto'><img src="http://localhost:3000/fotos/apple.png" class='foto'><img src="http://localhost:3000/fotos/tux.png" class='foto'><a href='login'><img src="http://localhost:3000/fotos/candado.jpg" class="foto"></a></td>
</tr>
</table>
&nbsp;&nbsp;&nbsp;<h2><p</p></h2>



<div id="tabs">
<ul>
<li><a href="#tabs-1">Quienes Somos</a></li>
<li><a href="#tabs-2">Opensource</a></li>
<li><a href="#tabs-3">Windows</a></li>
<li><a href="#tabs-4">Misión</a></li>
<li><a href="#tabs-5">Visión</a></li>
<li><a href="#tabs-6">Contacto</a></li>
</ul>
<div id="tabs-1">
<p><div class="letras">

<center><div class="foto3"><img src="http://localhost:3000/fotos/mysoftwarex.png"></div></center>
MySoftware Es una empresa de desarrollo de software. La cual trabaja en distintos lenguajes de programación. Como también su ejecución es multiplataforma para no incomodar al usuario. Mysoftware se adapta a ti 
</div>
</p>
</div>
<div id="tabs-2">
<p>
	<table>
		<tr>
<td><img src="http://localhost:3000/fotos/soft_libre.gif"></td><td><div class="letras">
Si Usted no le gusta pagar licencias y sistema operativo es Linux. No se preocupe, realizamos aplicaciones compatible con su sistema operativo. Y desarrollado con software libre. Tanto de escritorio. Como web. </div>
</td><td><img src="http://localhost:3000/fotos/java.png" class="foto2"></td>
</tr>
<tr>
	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://localhost:3000/fotos/tuxlogo.png" class="foto2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://localhost:3000/fotos/itsFreeRails.png" class="foto2"></td>
	</tr>
</table>
</p>
</div>
<div id="tabs-3">
<p>
	<table>
		<tr>
<td><img src="http://localhost:3000/fotos/visualstudio.png" class="foto2"></td><td><div class="letras">Si tiene una inclinación por los lenguajes de programación realizados por Windows c# es nuestro lenguaje en el cual desarrollamos aplicaciones para el Windows desde Windows xp hacia adelante. Las aplicaciones son solamente de escritorio</div></td>
</tr>
<tr>
	<td></td><td><img src="http://localhost:3000/fotos/csharp.png" class="foto2"></td>
	</tr>
</table>
</p>
</div>
<div id="tabs-4">
<p>
<div class="letras">
Desarrollar software a tu medida, que cumpla con tus necesidades. A tu gusto y con tu estilo. Por eso
Mysoftware entiende que. Hacerte la vida más fácil para que así puedas avanzar de forma segura. Rápida
 y estable. Nos acomodamos a tu entorno para que puedas las aplicaciones funcionen de la forma más 
 cómoda  para ti.
</div>
</p>
</div>
<div id="tabs-5">
<p>
	<div class="letras">
Nuestra visión es tener la capacidad de realizar cualquier aplicación. Para hacer que el cliente se valla lo más conforme  y cómodo con su aplicación. Tener una diversidad de desarrollo para así nunca tener que decir no a nada que se tenga que programar
</div>
</p>
</div>
<div id="tabs-6">
<p>
<img src="http://localhost:3000/fotos/email.png"><img src="http://localhost:3000/fotos/mysoftware.jpg">
</p>
</div>
</div>