

<br>
<br>
<br>

<center><table> <tr><td><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Editar comentario</h1></td><td><img src="http://localhost:3000/fotos/editar.png"></td></tr> </table></center>
<center>
<%= render 'form' %>

<%= link_to 'Show', @comentariox %> |
<%= link_to 'Back', comentarioxes_path %>
</center>