<%= flash[:notice] %>
<table>
	<tr>
<td><h1>Nuevo Comentario</h1></td><td><img src="http://localhost:3000/fotos/github.png" class='foto'></td></tr></table>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<table><tr><td><img src="http://localhost:3000/fotos/finn.jpg" class="foto"></td><td><h3><%= link_to 'volver administracion', 
admin_url %></h3></td></tr></table>
<center>

<%= render 'form' %>

<%= link_to 'Back', comentarioxes_path %> 


</center>