/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
color: white;
background-color:  black;

}

.foto{
 max-width: 128px;
 max-height: 128px;

}

.letras{
	font-family: arial;
	font-size: 150%
	
}

.foto2{
 max-width: 250px;
 max-height: 250px;

}

.foto3{
 max-width: 300px;
 max-height: 850px;

}


.foto4{
 max-width: 400px;
 max-height: 1050px;

}